{% extends 'base.html.twig' %}

{% block title %}New Make{% endblock %}

{% block body %}
    <h1>Create new Product Name</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
